.title {
  font-family: laca, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  color: white;
}
  .correct {
  background-color: white;
  color:#0000FF;
  font-family: laca, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  width: 80%;
}
.great {
    margin: 6%;
}

.numbers {
    color:#0000FF;
    font-family: laca, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 8rem;
   
}
.wrapper {
   padding: 0px 20px 0px 20px;
}
