.containerWrapper {
}
.title {
    font-family: laca, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: white;
}
.typographyEl {
    font-family: laca, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 20px;
    color: black;
}
.plusXp {
    color:#0000FF;
    font-family: laca, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 15px;
    padding:0px 0px 0px 0px;
};
.props {
    font-family: laca, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 60px;
    color: white;
    
}